<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Styling</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
    <h1>Interactive Styling</h1>
    <div ng-app>
      <div>
        Type a word or phrase here:
        <input type="text" ng-model="data.message">
      </div>
      <div>
        Choose a text color:
        <input type="text" ng-model="data.color">
      </div>
      <div>
        Choose a background color:
        <input type="text" ng-model="data.background">
      </div>
      <div>
        Choose a font size:
        <input type="text" ng-model="data.fontSize">
      </div>
      <div>
        Choose an animation:
        <input type="text" ng-model="data.animation">
      </div>
      <h2>Result:</h2>
      <div id="output" class="{{data.animation}}" ng-style="{color: data.color, background: data.background, fontSize: data.fontSize + 'px'}">
        {{data.message}}
      </div>
    </div>
  </body>
</html>
