<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Styling</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  <body>
    <h1>Interactive Styling</h1>
    <div ng-app>
      <div>
        Type a word or phrase here:
        <input type="text" ng-model="data.message">
      </div>
      <div>
        Choose a text color:
        <select ng-model="data.color">
          <option value="black">Black</option>
          <option value="blue">Blue</option>
          <option value="red">Red</option>
          <option value="yellow">Yellow</option>
          <option value="green">Green</option>
          <option value="purple">Purple</option>
          <option value="lime">Lime</option>
          <option value="aqua">Aqua</option>
          <option value="fuchsia">Fuchsia</option>
          <option value="white">White</option>
          <option value="silver">Silver</option>
          <option value="grey">Grey</option>
          <option value="maroon">Maroon</option>
        </select>
      </div>
      <div>
        Choose a background color:
        <select ng-model="data.background">
          <option value="none">None</option>
          <option value="black">Black</option>
          <option value="blue">Blue</option>
          <option value="red">Red</option>
          <option value="yellow">Yellow</option>
          <option value="green">Green</option>
          <option value="purple">Purple</option>
          <option value="lime">Lime</option>
          <option value="aqua">Aqua</option>
          <option value="fuchsia">Fuchsia</option>
          <option value="white">White</option>
          <option value="silver">Silver</option>
          <option value="grey">Grey</option>
          <option value="maroon">Maroon</option>
        </select>
      </div>
      <div>
        Choose a font size:
        <input type="number" step="10" ng-model="data.fontSize">
      </div>
      <div>
        Choose an animation:
        <select ng-model="data.animation">
          <option value="none">None</option>
          <option value="rotate">Rotate</option>
        </select>
      </div>
      <h2>Result:</h2>
      <div id="output" class="{{data.animation}}" ng-style="{color: data.color, background: data.background, fontSize: data.fontSize + 'px'}">
        {{data.message}}
      </div>
    </div>
  </body>
</html>
